*.o
*.a
.DS_Store
.build/
.cache/
.direnv/
.envrc
.swiftpm
.venv
.vs/
.vscode/
*.cflags
*.config
*.creator*
*.cxxflags
*.files
*.includes
*.user
*.gguf
build-anna_graphica-*
anna
anna_server
saves/
models/
debug_log/
tmp/
test_run.sh
